html, body {
    height: 100%;
    background-color: #ffffff;
    margin: 0;
    padding: 0;
    width: 100%;

}

.header {
    align-items: center;
    background-color: black;
    display: flex;
    height: 4rem;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.8);


}
.header img {
    margin-top: 7px;
    align-items: center;
    width: 50px;
    margin-left: 30px;
    

}
.header p {
    color:antiquewhite;
    display: flex;
    gap: 30px;
    justify-content: space-around;
    margin: 0;
    margin-left: 20px;
    font-family: 'raleway',sans-serif;
    font-size: large;

    

}
.header span {
    margin: 10px;
}
.header .container {
    display: flex;
    align-items: center;
    gap: 20px;
}
main {
    display: flex;
    justify-content: center;
}
.container_img{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'raleway',sans-serif;
    font-size: large; 
}
.texts {
    display: flex;
    flex-direction: column;
    margin-top: 50px;


}
.logos {
    display: flex;
    gap: 5px;
    margin: 0;
    padding: 0;
    margin-top: 30px;

}
.linkedin{
    width:30px;  
}
.github {
    width: 30px ;
}
.helloworld {
    font-size: 20px;
    margin: 0;
    padding: 0;
    width: 12rem;

}
.name {
    font-family: 'raleway',sans-serif;
    font-size: 3.25rem;
    margin-top: 20px;
    font-weight: bold;
    letter-spacing: -1px;

}
.desenv_software {
    margin-top: 10px;
}
.profile_border {
    display: inline-block;
    padding: 10px; 
    border-radius: 50%; 
    box-shadow: 3px 4px 10px rgba(0, 0, 0, 0.6); 
    margin-top: 70px;
    margin-right: 70px;
}
.profile {
    border-radius: 50%;
    width: 300px; 
    display: block; 

}
